* {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

#main {
  width: 100vw;
  height: 600vh;
  background-image: url('/src/images/background.png'); /* 얘가 꼭 필요한가..?*/
  background-size: cover;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.justify-content-between {
  justify-content: space-between;
}

.container {
  width: 100vw;
  height: 100vh;
}

.p-1 {
  background-image: url('/src/images/group1/g1_background.png');
  background-size: cover;
}
