/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');
@import url(//db.onlinewebfonts.com/c/1fbe10678e637530067167465205839f?family=Gabelisa);
/*
  font-family: 'Montserrat', sans-serif;
  font-family: 'Fredericka the Great', cursive;
  */

a {
	text-decoration: none;
	color: black;
}

.d-flex {
	display: flex;
}

.flex-column {
	flex-flow: column;
}

body {
	font-size: 17px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: black;
}

button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

img {
	overflow: hidden;
	color: black;
	vertical-align: top;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

.wrapper {
	width: 100vw;
	display: flex;
	flex-flow: column;
	background: no-repeat url('/src/images/background.png');
	background-size: cover;
	overflow: hidden;
}

.wrap div {
	box-sizing: border-box;
}

.container {
	width: 100vw;
	height: 100vh;
}

/* =============== p-1 , main page ===============*/

.p-1 {
	background: url('/src/images/group1/g1_background.jpg') no-repeat;
	background-size: cover;
	/* background: no-repeat cover 50% 0 / cover; */
	overflow: hidden;
	padding: 30px 50px;
}

.mainHeader {
	width: 100vw;
	height: 15vh;
	/* padding: 30px; */
}

.header {
	width: 100vw;
	/* padding-right: 50px; */
	justify-content: space-between;
}

#logo {
	width: 280px;
	height: 80px;
}

.header-right {
	width: 350px;
	justify-content: flex-start;
	align-items: center;
}

.header-right > .textBox {
	align-items: flex-end;
	padding-right: 20px;
}

.header-right > .textBox > p:nth-child(1) {
	font: bold 17px 'Montserrat', sans-serif;
}
.header-right > .textBox > p:nth-child(2) {
	font: bold 29px 'Montserrat', sans-serif;
}

.header-right > .imgBox > img {
	width: 30px;
	height: 60px;
}

.navBox {
	justify-content: flex-end;
	padding-right: 40px;
}

.topMenu {
	align-items: baseline;
	justify-content: flex-start;
}
.topMenu > li {
	margin: 0 30px;
	padding-right: 30px;
	list-style: none;
	font-weight: 700;
}

/* main-body */
.main-body {
	width: 100vw;
	height: 80vh;
	align-items: center;
	padding: 30px;
}

.body-left {
	text-align: center;
}

.body-left .imgBox {
	margin: 20px;
	padding: 0;
}

.textBox.body-left-upper {
	width: 600px;
	height: 200px;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-around;
}
.textBox.body-left-upper > p:nth-child(1) {
	font-family: 'Gabelisa';
	font-size: 58px;
}
.textBox.body-left-upper > p:nth-child(2) {
	font: 90px 'Fredericka the Great', cursive;
}
.textBox.body-left-upper > p:nth-child(3) {
	font: bold 27px 'Montserrat', sans-serif;
}

.textBox.body-left-lower {
	margin-bottom: 20px;
	justify-content: center;
	align-items: center;
}
.textBox.body-left-lower > div:nth-child(1) {
	font: 19px 'Fredericka the Great', cursive;
	margin-right: 10px;
	width: 150px;
}
.textBox.body-left-lower > div:nth-child(2) {
	font: 57px 'Fredericka the Great', cursive;
}

.body-left-lower {
	justify-content: center;
	align-items: center;
}

.body-left-lower > div:nth-child(1) {
	width: 120px;
}

.buttonBox.body-left-lower > button {
	width: 227px;
	height: 58px;
	background: none;
	font: 21px 'Montserrat', sans-serif;
	font-weight: 800;
	border: 2px solid black;
	cursor: pointer;
}

.body-right {
	padding: 50px 0 0 100px;
}
.body-right > .imgBox {
	width: 500px;
	height: 500px;
	justify-content: center;
	align-items: center;
}

.body-right > .imgBox > img {
	width: 500px;
	height: 500px;
	object-fit: cover;
}

/* =============== p-2 ===============*/

.p-2 {
	/* center aligned line background  */
	background: url('/src/images/group2/g2_background.png') no-repeat center /
		contain;
	height: 110vh;
	align-items: center;
	padding-top: 60px;
}

.p-2 > .title {
	height: 15vh;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 30px;
}

.p-2 > .textBox > p:nth-child(1) {
	font-family: 'Fredericka the Great', cursive;
	font-size: 50px;
}

.p-2 > .textBox > p:nth-child(2) {
	font-size: 17px;
	line-height: 29px;
}

.p-2 .menuBox {
	width: 100vw;
	justify-content: space-around;
	padding-top: 40px;
}

.p-2 .menuImg {
	width: 400px;
	height: 400px;
	object-fit: cover;
}

.p-2 .menuName {
	font: bold 21px 'Montserrat';
	line-height: 38px;
}
.p-2 .menuBox div {
	align-items: center;
	margin-bottom: 30px;
}

.p-2 .menuBox div p {
	width: 400px;
	line-height: 21px;
	text-align: center;
	margin-bottom: 15px;
}

.p-2 .menuBox .orderBtn {
	width: 200px;
	height: 50px;
	font: bold 17px 'Montserrat';
	line-height: 38px;
	border: none;
	background-color: #ffdf01;
	cursor: pointer;
}
/* =============== p-3 ===============*/
.p-3 {
	height: 100vh;
	padding: 100px 0;
}

.p-3 .textBox {
	align-items: center;
}

.p-3 .textBox p:nth-child(1) {
	font: bold 21px 'Montserrat', sans-serif;
	letter-spacing: 1px;
	line-height: 46px;
}

.p-3 .textBox p:nth-child(2) {
	font: 42px 'Fredericka the Great';
	line-height: 46px;
}

.p-3 .textBox p:nth-child(4) {
	width: 70vw;
	line-height: 25px;
	text-align: center;
}

.slideBox {
	width: 100vw;
	height: 100vh;
	padding: 30px 0;
	align-items: center;
}

.slide {
}

.slide ul {
	width: 100vw;
	height: 50vh;
	border: 1px solid green;
}

.slide ul li {
	display: inline-block;
}

.slide ul li:nth-child(1) {
	/* width: 30vw; */
}
.slide ul li:nth-child(2) {
	/* width: 40vw; */
}
.slide ul li:nth-child(3) {
	/* width: 30vw; */
}

.slide ul li img {
	object-fit: cover;
	width: 500px;
	height: 300px;
}

.slideBox .buttonBox {
	width: 80px;
	height: 20px;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin-top: 10px;
}

.slideBox .buttonBox button {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #dcdcdc;
	border: none;
	cursor: pointer;
}

/* 여기서 그 itemList 쓰면 되는 거 아닐까 배열 */
.slideBox .buttonBox button:nth-child(2) {
	background-color: #ffe001;
}

/* =============== p-4 ===============*/
.p-4 {
	height: 80vh;
	padding: 80px 120px;
}

.p-4 .imgBox {
	justify-content: space-around;
}

.p-4 .imgBox .idx-2 {
	justify-content: space-between;
	align-items: center;
}

/* =============== p-5 ===============*/
.p-5 {
	height: 70vh;
	padding: 30px 50px;
	align-items: center;
}

.p-5 .textBox {
	align-items: center;
	margin-bottom: 50px;
}

.p-5 .textBox p:nth-child(1) {
	font: bold 21px 'Montserrat', sans-serif;
	letter-spacing: 1px;
}
.p-5 .textBox p:nth-child(3) {
	font-family: 'Fredericka the Great';
	font-size: 50px;
	letter-spacing: 3px;
}

.reservation {
	width: 50vw;
	display: flex;
	justify-content: center;
}

.bookingInfo {
	width: 300px;
	height: 30px;
	border: 1px solid #bebebe;
	border-radius: 5px;
	padding: 10px 15px;
	margin: 10px;
}

/* 미묘하게 line-height 다름, 수정 */
.bookingBtn {
	width: 330px;
	height: 50px;
	font: bold 21px 'Montserrat', sans-serif;
	border: none;
	border-radius: 5px;
	background-color: #ffe001;
	padding: 10px 15px;
	margin: 10px;
}
/* =============== p-6 ===============*/
.p-6 {
	height: 70vh;
	background: no-repeat url('/src/images/group6/g6_background.png');
	background-size: cover;
	padding: 50px 70px;
}
.p-6 p {
	color: white;
	line-height: 25px;
}

.p-6 a {
	color: white;
}

.footer-top {
	height: 50vh;
	justify-content: space-between;
}

.footer-left {
	width: 35vw;
	height: 30vh;
	justify-content: space-between;
}

.footer-left .logo {
	width: 18vw;
	height: 10vh;
}

.footer-right {
	width: 35vw;
	justify-content: center;
	align-items: flex-start;
}

.companyAdress,
.companyEmail {
	padding: 10px 0;
}

.companyInfo div img {
	margin-right: 20px;
}

.footer-bottom {
	justify-content: space-between;
}

.footer-bottom .snsBox {
	width: 10vw;
	justify-content: space-around;
}
